*.out
*.bin
callgrind.*
**/.cph/**
codeforces
leetcode
usaco
input
.vscode
lib/snippets
lib/testing
*.ipynb
.ipynb_checkpoints
old_solutions

*.out.dSYM
*.bin.dSYM

brute_force.input
bad_input
failed_test
brute.cpp
.DS_Store

# test_case_cache